<%- include('../layouts/header.ejs',{
    title: "login"
}) %>
<section class="login-submit py-5">
<div class="container">
    <div class="card w-50 mx-auto">
        <div class="card-body border">
            <div class="card-title border shadow w-50 mx-auto">
                <h2 class="text-center">login</h2>
            </div>
            <form method="post" class=" border p-3" action="/login-submit">
                <div class="form-group">
                    <label for="">Email</label>
                    <input value="admin@gmail.com" class="form-control" value="<%= old_body.email %>" type="email" name="email" id="" placeholder="Enter your valid email">
                    <div class="text-danger">
                        <%= error.email %>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input value="1122" class="form-control" value="<%= old_body.password %>" type="password" name="password" id="" placeholder="Enter your password">
                    <div class="text-danger">
                        <%= error.password %>
                    </div>
                </div>
                <button class="btn btn-success">Submit</button>
                <div>
                    <a href="/signup">Signup Now</a>
                </div>
            </form>
        </div>
    </div>
    
</div>
</section>
<%- include('../layouts/footer.ejs') %>