<%- include('../layouts/head',{
    title: "Blog Managemnt"
}) %>

<%- include('../layouts/backendTopNav') %>
<div id="layoutSidenav">
    <%- include('../layouts/backendSideNav') %>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h3 class="mt-4">Static Navigation</h3>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active">Static Navigation</li>
                </ol>

                <div class="border">
                    <h3 class="text-center">Dashboard content</h3>
                </div>
                <div class="table">
                    <div class="card">
                        <div class="card-header">
                            All Category
                        </div>
                        <div class="card-body">
                            <div class="table-top d-flex justify-content-between flex-wrap gap-2">

                                <div class="datatable-dropdown">
                                    <label class="d-flex gap-2">
                                        <select class="form-select">
                                            <option value="5">5</option>
                                            <option value="10" selected="">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                            <option value="25">25</option>
                                        </select>
                                        <div style="min-width: 300px;">
                                            entries per page
                                        </div>
                                    </label>
                                </div>
                                <div class="datatable-search">
                                    <input class="form-control" placeholder="Search..." type="search"
                                        title="Search within table">
                                </div>

                            </div>
                            <div class="table-responsive">
                                <table class="table responsive table-bordered table-hover">
                                    <thead class="text-center">
                                        <tr>
                                            <th>
                                                <input disabled type="checkbox" class="form-check">
                                            </th>
                                            <th>Id</th>
                                            <th>Title</th>
                                            <th>creator</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        <% data.forEach((item)=> { %>
                                        <tr>
                                            <td>
                                                <input type="checkbox" class="form-check">
                                            </td>
                                            <td>
                                                <%= item._id %>
                                            </td>
                                            <td>
                                               <%=  item.title %>
                                            </td>
                                            <td>
                                                <%= item.creator?.username %>
                                            </td>
                                            <td>
                                                <div class="form-check form-switch d-inline-block">
                                                    <input <%= item.status?'checked':'' %> 
                                                    class="form-check-input" type="checkbox" 
                                                    role="switch" id="flexSwitchCheckChecked<%= item._id %>" >
                                                    <label class="form-check-label"
                                                        for="flexSwitchCheckChecked<%= item._id %>"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <a href="/dashboard/category/<%= item._id %>" class="btn btn-sm btn-primary">
                                                        <i class="fas fa-eye" title="Show"></i>
                                                        Show
                                                    </a>
                                                    <a href="/dashboard/category/<%= item._id %>/edit" class="btn btn-sm btn-warning">
                                                        <i class="fas fa-pencil" title="Edit"></i>
                                                        Edit
                                                    </a>
                                                    <a href="/dashboard/category/<%= item._id %>/delete" 
                                                        onclick="return confirm(`are you want to delete!!!`)"
                                                        class="btn btn-sm btn-danger">
                                                        <i class="fas fa-trash" title="Delete"></i>
                                                        Delete
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <% }) %>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between ">
                                <div class="left">
                                    showing 1 to 10 of 70 emtites
                                </div>
                                <div class="right">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
</div>
<%- include('../layouts/backendJSScript') %>